.favsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    margin-bottom: 0;
}
.darkTheme{
    background-color: black;
    color:white;
}